
body{
    margin: 0;
    padding: 0;
    background-color: azure;
}

#nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


#navdentro{
    display: flex;
    gap: 40px;
    margin-left: 150px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 10px black, 0 0 20px black;
}

.link:hover{
    color: gray;
}


#menu {
    position: absolute;
    right: 200px;
    top: 20px;
    z-index: 10;
}

.icono {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.bajarmenu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: black;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    width: 150px;
}

.bajarmenu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.bajarmenu li a:hover {
    background: #333;
}

#menu:hover .bajarmenu {
    display: block;
}


#tarjeta_1{
    position: absolute;
    background-color: black;
    width: 400px;
    height: 600px;
    top: 200px;
    left: 400px;
    border-radius: 2%;

}

#tarjeta_2{
    position: absolute;
    background-color: black;
    width: 400px;
    height: 600px;
    top: 200px;
    left: 1150px;
    border-radius: 2%;

}

.nombres{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}