
body{
    margin: 0;
    padding: 0;
    background-color: azure;
}

#nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


#navdentro{
    display: flex;
    gap: 40px;
    margin-left: 150px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 10px black, 0 0 20px black;
}

.link:hover{
    color: gray;
}


#menu {
    position: absolute;
    right: 200px;
    top: 20px;
    z-index: 10;
}

.icono {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.bajarmenu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: black;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    width: 150px;
}

.bajarmenu li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.bajarmenu li a:hover {
    background: #333;
}

#menu:hover .bajarmenu {
    display: block;
}
#cursos{
    position: relative;
    top: 100px;
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    height: 800px;
    background-color: black;
    justify-content: center;
    color: white;
    text-decoration: none;

}

.niveles img{
    width: 500px;
    margin: 35px;
    height: 400px;
    border-radius: 5px;
    border-color: aliceblue;
    border: 5px solid white;
}
.niveles img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.niveles p{
    position: relative;
    top: -1px;
    left: 110px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: underline; 
    text-shadow: 1px 1px 2px rgba(247, 245, 245, 0.894);
    
}
.niveles p:hover{
    transform: scale(1.1);
    transition: 0.2s;
}



